div {
    border: 2px solid;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

#craft {
    width: 50%;
    margin: 3em auto;
}

.print {
    display: inline;
    border: 0em;
}

#actionNeeded > img, .actions > img {
    width: 100px;
    height: 100px;
}

.actions {
    display: inline;
    border: 0em;
}

@media (max-width: 600px){
    div {
        margin: 0.5em;
        padding: 0.5em;
    }
    #craft {
        width: 75%;
        margin: 2em auto;
    }
    #actionNeeded > img, .actions > img, .actions {
        width: 35px;
        height: 35px;
    }
}